.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background: url("../../../../public/assets/1280417267661803541.webp") center;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border: 8px solid white;
  max-width: 800px;
  margin: 0 auto;
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.post-body {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  color: white;
}

@media (max-width: 900px) {
  .post-container {
    padding: 20px;
    max-width: 90%;
  }

  .post-title {
    font-size: 28px;
  }

  .post-body {
    font-size: 16px;
  }
}
