.main-container080 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../public/assets/kadi.jpg") center;
  background-size: cover;
  background-color: black;
  background-size: contain;
  color: white;
  text-align: center;
}
