footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section p {
  font-size: 14px;
  color: #ccc;
}

.footer-links {
  display: flex;
  gap: 50px;
  list-style: none;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #f2f2f2;
}
