.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: black;
}

.blog-list {
  max-width: 700px;
  display: flex;
  background-color: #ffff;
  margin: 30px;
  padding: 50px;
  gap: 50px;
  border-radius: 10px;
  border: 1px black solid;
}

.Link {
  color: rgb(247, 158, 50);
}
